html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#background {
	background-color: #000;
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer * {
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	width:80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

/*this is my style*/
#bgwrap {
	
	display: table-cell;
	vertical-align: middle;
}

::placeholder {
	color: #fff;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}

#inputContainer {
	width: 400px;
	padding: 45px;
	float: left;
	border-right: 1px solid #999;
}

#inputContainer h2{
	text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
	display:block;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	height: 27px;
	line-height: 27px;
	width: 100%;
}

#inputContainer label {
	color: #a0a0a0;
	font-size: 13px;
	margin-top: 15px;
	display: block; 
}

#inputContainer button {
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 250px;
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%;
}

#inputContainer button:hover {
	cursor: pointer;
	background-color: rgba(7, 209, 89, .4);
	color: black;
}

.hasAccountText span {
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#registerForm,
#loginForm {
	display: none;
} 

#loginText {
	padding: 45px;
	position: relative;
	display: table-cell;
	/*my style (I cant make it move into the middle)*/
	vertical-align: middle; 
}

#loginText h1 {
	color: #07d159;	
	font-size: 60px;
	font-weight: bold;

	/*my style (perhaps it should be moved some place else)*/
	margin-top: 19px;
	margin-bottom: 9.5px
}

#loginText h2 {
	/*margin: 35px 0;*/

	/*my style (perhaps it should be moved some place else)*/
	margin-top: 19px;
	margin-bottom: 9.5px
}

#loginText ul {
	padding: 0;
}

#loginText li {
	font-size: 20px;
	list-style-type: none;
	padding: 5px 30px;
	background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMessage {
	color: #07d159;
	font-size: 12px;
	display: block;
}